################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DesignPattern/DesignPattern/bin/Debug/netcoreapp2.1
/DesignPattern/DesignPattern/obj
/DesignPattern/.vs/DesignPattern/v16
/DesignPattern/.vs/DesignPattern/DesignTimeBuild
/.vs
/DesignPattern/DesignPatternTest/obj/Debug/netcoreapp2.1
/DesignPattern/DesignPatternTest/obj
